# Jupyter support for Python
jupyter
jupyter_client
jupyter-console
jupyter_core
notebook

# Math libraries
numpy
pandas

# Data science and visualization
matplotlib
seaborn
Pillow

# Machine learning libraries
keras
scikit-learn

# Kaggle data download
kaggle

# Testing
pytest
pytest-cov

# TensorFlow has 2 versions. UNCOMMENT one of them:
# For all Intel Chip
tensorflow

# For Apple Silicon (M1, M2)
# tensorflow-macos

# Model Architecture
pydot
pydotplus
